extends ./default.pug

block extra
  each post in collections[`posts_${locale}`]
    article.post-summary
      h2: a(href=`/${post.path}`)= post.title
      time(datetime=post.date.toISOString())
        - const year = post.date.getUTCFullYear()
        - const month = post.date.getUTCMonth() + 1
        - const day = post.date.getUTCDate()
        = `${year}/${month < 10 ? `0${month}` : month}/${day < 10 ? `0${day}` : day}`
      div!= post.summary
