extends ./default.pug

block extra
  main: article.post
    .post-details
      time(datetime=date.toISOString())
        - const year = date.getUTCFullYear()
        - const month = date.getUTCMonth() + 1
        - const day = date.getUTCDate()
        = `${year}/${month < 10 ? `0${month}` : month}/${day < 10 ? `0${day}` : day}`
      - const availableLocales = locales.filter(x => x !== locale && lang(x))
      if availableLocales.length > 0
        if locale === 'en'
          div Leer en#{' '}
            a(href=`/${lang('es').path}`) español
        else
          div Read in#{' '}
            a(href=`/${lang('en').path}`) English

    h1= title
    .tags
      each tag, index in tags
        a(href=`/tags/${tag.slug}`)= `#${tag.name}`
        if index < tags.length - 1
          | ,
          |

    != contents
    .comments
      #disqus_thread
      script.
        var disqus_shortname = 'julioblog'; // required: replace example with your forum shortname

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      a(href='http://disqus.com' class='dsq-brlink')
        comments powered by
        span.logo-disqus Disqus
