extends ./default.pug

block extra
  h1= tag

  ul.post-list-by-tag
    each post in pagination.files
      li
        time(datetime=post.date.toISOString())
          - const year = post.date.getFullYear()
          - const month = post.date.getMonth() + 1
          - const day = post.date.getDate()
          = `${year}/${month < 10 ? `0${month}` : month}/${day < 10 ? `0${day}` : day}`
        a(href=`/${post.path}`)= post.title
